@using CoolBookLatest.Enums;
@model List<Books>

@{
    ViewBag.Title = "Home Page";
}
<!-- Carousel -->
<h1>Några recensioner</h1>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval="10000">

    <!-- Carousel Navigation Indicators -->
    <ol class="carousel-indicators" ->
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Carousel Wrappers -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/Images/carousel_img_0b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
            </div>
        </div>

        <div class="item">
            <img src="/Images/carousel_img_1b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>Ut labore et dolore</h1>
                <p>Magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>

        <div class="item">
            <img src="/Images/carousel_img_2b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>Quis nostrud exercitation</h1>
                <p>Ullamco laboris nisi ut aliquip ex ea commodo</p>
            </div>
        </div>
    </div>

    <!-- Navigation, left and right arrow -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>





<!-- 1 bild, med description -->

<h1>Framslumpad bok</h1>

<a class="" href="@Url.Action("Details","Books", new { id = Model[0].Id})">
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <img src="/Images/bookcover.jpg" style="">
                </div>

                <div class="col-xs-12 col-sm-8 col-md-8">
                    <h1>Title - <span style="font-size:80%;">@Html.DisplayTextFor(modelItem => Model[0].Title)</span> </h1>
                    <p>Description - @Html.DisplayTextFor(modelItem => Model[0].Description)</p>
                    <p>Author - @Html.DisplayTextFor(modelItem => Model[0].Authors.FirstName) @Html.DisplayTextFor(modelItem => Model[0].Authors.LastName)</p>
                    <p>Genre - @Html.DisplayTextFor(modelItem => Model[0].Genres.Name) </p>
                    <p>Publised - @Html.DisplayFor(modelItem => Model[0].PublishDate) </p>
                </div>
            </div>
        </div>
    </div>
</a>




    <!-- 6 bilder, med description -->

    <div class="index-6-bilder container">
        <h1>Senast skapade böcker</h1>

        <!-- 6 bilder: 1 bild, med description -->
        @foreach (var item in Model.Skip(1))
        {
            <a href="@Url.Action("Details","Books", new { id = item.Id})">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @if (item.ImagePath != null)
                            {
                                <img src="~/Content/@item.ImagePath" class="img-responsive">
                            }
                            else
                            {
                                <img src="/Images/bookcover.jpg" class="img-responsive">
                            }
                        </div>
                        <div class="panel-footer">
                            <h3>Title - <span style="font-size:80%;">@Html.DisplayTextFor(modelItem => item.Title)</span> </h3>
                            <p>Author - @Html.DisplayTextFor(modelItem => item.Authors.FirstName), @Html.DisplayTextFor(model => item.Authors.LastName)</p>
                            <p>Description - @Html.DisplayTextFor(modelItem => item.Description)</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
