@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Books", "Index", "Books")</li>
        <li>@Html.ActionLink("My Books", "MyBooks", "Books")</li>
        <li>@Html.ActionLink("Authors","Index","Author")</li>
        <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
        <li>@Html.ActionLink("Genres", "Index", "Genres")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Books", "Index", "Books")</li>
    </ul>
}
