@model CoolBookLatest.Models.BookViewModel

@if (Model.Reviews != null)
{
    <div>
        <h4>Reviews</h4>
        
    </div>
    foreach (var item in Model.Reviews)
    {
        if (item.IsDeleted != true)
        {
            <div>
                <div>
                    <h4>
                        <hr />
                        @Html.DisplayTextFor(modelItem => item.Title)
                    </h4>
                </div>
                <div>
                    <h5>
                        @Html.DisplayTextFor(modelItem => item.UserId)
                        
                    </h5>
                </div>

                <div>
                    @Html.TextAreaFor(modelItem => item.Text, new { @readonly = "true", @class = "form-control" })
                    @Html.ActionLink("Delete", "Delete", "Reviews", new { id = item.Id }, null)
                    
                </div>
            </div>
        }
    }
}

@*@using (Html.BeginForm("Create","Reviews",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group hidden">
            @Html.Label("BookId", "BookId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("BookId", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("BookId", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Title", new { htmlAttributes = new { @Value = "", @class = "form-control" } })
                @Html.ValidationMessage("Title", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Text", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Text", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Text", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Rating", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Rating", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Rating", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@